@use "./abstracts/" as *;

.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@include tablet {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@include desktop {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
